/* --- VARIABLES --- */

:root{
	/* colors */
	--color_MainOrange: #ffaa00;
	--color_MainWhite: #959595;
}

/* --- BODY --- */

body{
	display: block;

	font-family: arial;

	background-image: url("../images/index/wallpaper_virgo.png");
}